#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

#
# Shorewall -- /etc/shorewall/interfaces
#
# For information about entries in this file, type "man shorewall-interfaces"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-interfaces.html
#
?FORMAT 2
###############################################################################
#ZONE		INTERFACE		OPTIONS
{% set _interfaces = shorewall_interfaces + shorewall_group_interfaces + shorewall_host_interfaces %}
{% for iface in _interfaces if not iface.skip_when|d()|bool %}
{{ iface.zone }} {{ iface.interface }} {{ iface.options|d([])|join(',') }}
{% endfor %}
