#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

#
# Shorewall -- /etc/shorewall/routes
#
# For information about entries in this file, type "man shorewall-routes"
#
# For additional information, see http://www.shorewall.net/MultiISP.html
#
###############################################################################
#PROVIDER		DEST			GATEWAY		DEVICE	OPTIONS
{% set _routes = shorewall_routes + shorewall_group_routes + shorewall_host_routes %}
{% for route in _routes if not route.skip_when|d()|bool %}
{{ route.provider }} {{ route.dest }} {{ route.gateway|d('-') }} {{ route.device|d('-') }} {{ route.options|d([])|join(',') }}
{% endfor %}
