#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

#
# Shorewall -- /etc/shorewall/zones
#
# For information about this file, type "man shorewall-zones"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-zones.html
#
###############################################################################
#ZONE		TYPE		OPTIONS		IN_OPTIONS	OUT_OPTIONS
{% set _zones = shorewall_zones + shorewall_group_zones + shorewall_host_zones %}
{% for zone in _zones if not zone.skip_when|d()|bool %}
{{ zone.zone }} {{ zone.type|d('-') }} {{ zone.options|d([])|join(',') }}
{% endfor %}
